body
{
    direction:rtl;
    background-image: url("../images/asphalt-autumn-beauty-237018.jpg");
    background-repeat: no-repeat;
    background-size:100%;
    background-attachment: fixed;
    font-family: 'Rubik', sans-serif;
}
a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
span {
    margin: 5px;
    color: black;
    text-decoration: none;
}
#container {
    width: 960px;
    padding:auto;
    margin:auto;
    text-align:center;
    background-color:rgba(255, 255, 255, 0.5);

}
.not-allowed
{ cursor: not-allowed; }
#not-allowed
{ cursor: not-allowed; } /* איידי אותו הוספנו בגלל כפל קלאסים שנוצר בדיב מסויים */


.header {
    overflow: hidden; /* למניעה של עלייה של הדיב הראשי על התפריט ניווט */
    padding: 20px 10px;
}
#logo { /* עיצוב ומיקום הלוגו */
    float: right;
    width:320px;
    transition: transform .2s
}
#logo:hover { /* אנימציה ללוגו במצב במעבר עכבר */
    transform: scale(0.95);
}
.header .ar { /* שילוב אלמנטים לעיצוב של התפריט ניווט */
    float: right;
    color: black;
    background-color: #a5bf5c;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 16px;
    line-height: 25px;
    width: 130px;
    font-weight: bold;
    transition: transform .2s
}
.ar-active { /* עיצוב של התפריט הנותן אינדיקציה לדף שבו אנו נמצאים */
    float: right;
    color: black;
    background-color: #72b4ea;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 16px;
    line-height: 25px;
    width: 130px;
    font-weight: bold;
}
.ar:hover { /* שינוי במצב של הובר */
    background-color: #a1bdd4;
    transform: scale(0.95);
}

.nav {
    margin-top: 20px;
}

#main { /* עיצוב הדיב הראשי */
    height: 480px;
    width: 960px;
    background-color:rgba(255, 255, 255, 0.8);
    position: relative;
}
#ma2 h1 { /* עיצוב עיצוב הכותרת הראשית בדיב האמצעי של עמוד הבית */
    font-size: 27pt;
}
#p2{
    font-size: 16pt;

}
#ma222 { /* עיצוב המילה "מתלבט" בעמוד הראשי */
    font-size: 46pt;
    margin: 20px;
    top:0;
}

.ma2222 { /* עיצוב המשפט "למידע על קורקינט חשמלי" בעמוד הראשי */
    font-size: 32pt;
    width: 320px;
    height: 480px;
}
#ma22 { /* עיצוב המשפט "איזה כלי מתאים לך" בעמוד הראשי */
    margin-top: 10px;
    font-size: 26pt;
    height: 300px;
}
#main-html2 { /* עיצוב דיב התוכן הראשי בדף "אופניים או קורקינט" */
    height: 480px;
    width: 960px;
    background-color:rgba(255, 255, 255, 0.8);
}
/* עיצוב הכותרות בדף אופניים או קורקינט */
.h1-html2 {
    font-size: 18pt;
    padding: 5px;
}
.h2-html2 {
    font-size: 22pt;
    padding: 5px;
}
/* הכנסה של תמונות רקע לשלוש דיבים ראשיים בעמוד הבית והוברים שלהן */
#ma1 {
    background-image: url("../images/ma1.png");
    height: 480px;
}
#ma1:hover {
    background-image: url("../images/ma1hover.png");

}
#ma2 {
    background-image: url("../images/ma2.png");
    height: 480px;
}
#ma2:hover {
    background-image: url("../images/ma2hover.png");

}
#ma3 {
    background-image: url("../images/ma3.png");
    height: 480px;
    text-decoration: none;
    color: black;
}
#ma3:hover {
    background-image: url("../images/ma3hover.png");

}


/* עיצוב הטבלה בעמוד אופניים או קורקינט */
table {
    width: 100%;
    margin: 0 auto;
    table-layout: auto;
}

.fixed {
    table-layout: fixed;
}

table,
td,
th {
    border-collapse: collapse;
    font-size: 12pt

}

th,
td {
    padding: 15px;

        text-align: center;
}

.koteret { /* עיצוב הכותרות בדף אופניים או קורקינט בתוך הטבלה */
    font-size: 18pt;
}
.Row /* עיצוב ראשי של הצורה שבה עשינו בחירה בין אופניים וקורקינט בעמוד אופניים או קורקינט ובכתבות בעמוד הראשי */
{
    display: table;
    width: 960px;
    table-layout: fixed;
    border-spacing: 10px;
    margin-top: 20px;
}
.rowid {
    font-size: 22pt;
    background-color:rgba(255, 255, 255, 0.8);
    color: black;
}
a {
    text-decoration: none;
    transition: background-color;
}
.rowid:hover {
    background-color: #52a5ff;
}
.rowimg {
    width: 180px;
    transition: transform .2s
}
.rowimg:hover {
    transform: scale(0.93);
}
.Column
{
    width: 280px;
    height: 240px;
    display: table-cell;
    background-color:rgba(255, 255, 255, 0.8);
    text-decoration: none;
}
.Rowindex
{
    display: table;
    width: 960px;
    table-layout: fixed;
}
.Rowindex a {
    text-decoration: none;
    color: black;
}
.Columnindex
{
    width: 320px;
    height: 480px;
    display: table-cell;
    text-decoration: none;
}

/* עיצוב הקישור מידע נוסף בדף בכותרות של הASIDE בדף הראשי */
.info {
    display: block;
    text-decoration: none;
    color: #1d73c1;
    font-weight: bolder;
    font-size: 18pt;
    transition: background-color;
}
.info:hover {
    color: #52a5ff;
}
/* עיצוב הכותר והחלק העליון של עמודי התוכן */
#korkinetheader {
     background-image: url("../images/korkinet.png");
     width: 960px;
     height: 360px;

 }
#korkinetheader h1 {
    font-size: 28pt;
}

#ofanaimheader {
    background-image: url("../images/ofanaim.png");
    width: 960px;
    height: 360px;

}
#ofanaimheader h1 {
    font-size: 28pt;
}

#meidaheader {
    background-image: url("../images/meidamikzoi.png");
    width: 960px;
    height: 180px;
    font-size: 16px;

}
#meidaheader h1 {
    font-size: 24pt;
    padding: 20px;
}
#meida2 {
    text-align: right;
    margin-top: 55px;
    margin-right: 30px;
    font-weight: bolder;
    font-size: 18px;
}
#odescription {

    font-size: 16pt;
    width: 400px;
    margin: 10px auto;

}
/* עיצוב של דיב תוכן הראשי של העמודים */
#main-html3 {
     height: auto;
     width: 960px;
     background-color:rgba(255, 255, 255, 0.8);
 }
#main-html4 {
    height: auto;
    width: 960px;
    background-color:rgba(255, 255, 255, 0.8);
}

#main-html2 {
    height: auto;
    width: 960px;
    background-color:rgba(255, 255, 255, 0.8);
}
/* עיצוב של האקרדיון */
.accordion {
    margin:0 auto;
    font-size:18px;
    width:900px;
    padding:10px;
    background:#fff;
    text-align: right;
}
.accordion ul {
    list-style:none;
    margin:0;
    padding:0;
}
.accordion li {
    margin:0;
    padding:0;
}
.accordion [type=radio], .accordion [type=checkbox] {
    display:none;
}
.accordion label {
    display:block;
    font-size:22px;
    line-height:16px;
    background:#a5bf5c;
    color:#542437;
    text-shadow:1px 1px 1px rgba(255,255,255,0.3);
    font-weight:700;
    cursor:pointer;
    text-transform:uppercase;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
}
.accordion ul li label:hover, .accordion [type=radio]:checked ~ label, .accordion [type=checkbox]:checked ~ label {
    background:#72b4ea;
    color:#FFF;
    text-shadow:1px 1px 1px rgba(0,0,0,0.5)
}
.accordion .content {
    padding:0 10px;
    overflow:hidden;
    border:1px solid #fff; /* Make the border match the background so it fades in nicely */
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
}
.accordion p {
    color:#333;
    margin:0 0 10px;
}
.accordion h3 {
    color:black;
    font-size: 16pt;
    padding:0;
    margin:26px 0;
    font-weight: bolder;
}


/* מנגנון של האקרדיון */
.vertical ul li {
    overflow:hidden;
    margin:0 0 1px;
}
.vertical ul li label {
    padding:10px;
}
.vertical [type=radio]:checked ~ label, .vertical [type=checkbox]:checked ~ label {
    border-bottom:0;
}
.vertical ul li label:hover {
    border:1px solid #72b4ea;

}
.vertical ul li .content {
    height:0;
    border-top:0;
}
.vertical [type=radio]:checked ~ label ~ .content, .vertical [type=checkbox]:checked ~ label ~ .content {
    height:auto;

}
/* עיצוב של הדיבים של הבחירה באופניים או קורקינט */
#description {
    font-size: 16pt;
    width: 400px;
    margin: 10px auto;

}
/* עיצוב של הקישור לדף מידע מקצועי מתוך העמודים אופניים וקורקינט */
#ihave {
    width: 900px;
    height: 30px;
    background-color: #dddddd;
    font-size: 18pt;
    vertical-align: middle;
    padding-top: 10px;
    transition: transform .2s
}
#ihave a {
    text-decoration: none;
    color: #005aa4;
    transition: transform .2s;
}

#ihave:hover {
    background-color: #72b4ea;
}
#ihave a:hover {
    background-color: #72b4ea;
   color: white;
    transform: scale(0.93);
}#ihave a:visited {
    background-color: #72b4ea;
    color: #005aa4
}
/* עיצוב של הדיבים של הבחירה באופניים או קורקינט */
 #choosescooter{
     font-size: 22pt;
     color: #005aa4;
 }
 #scootericon{
     width: 280px;
     transition: transform .2s;
 }
 #scootericon:hover {
     transform: scale(0.90);
 }
#bykeicon{
    width: 320px;
    transition: transform .2s;
}
#bykeicon:hover {
    transform: scale(0.90);
}



.image { /* עיצוב של דיב של התמונה של הבחירה בהאופניים או הקרקינט */
    display: block;
    width: 320px;
    height: auto;
    margin: 0 auto;

}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #72b3e9;
}
.container {
    position: relative;
    width: 100%;
}
.overlayk {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #e3aa7f;
}
.overlaykk {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #e3aa7f;
}

/* עיצוב דיב של אופניים וקורקינט בזמן מעבר עכבר בדף אופניים או קורקינט */
.container:hover .overlay {
    opacity: 1;
}
.container:hover .overlayk {
    opacity: 1;
}

.text { /* עיצוב המילה שמופיע במעבר עכבר על אופניים/קורקינט בעמוד אופניים או קורקינט */
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-size: 36pt;
}
#main-html4 article { /* עיצוב ARTICLE בדף אודות */
    padding: 10px;
    margin: 0 auto;
    text-align: right;
    width: 80%;
    font-size: 14pt;
}
#main-html4 h1 { /* עיצוב כותרת ראשית דף אודות */
    font-size: 32pt;
    text-align: center;
    margin: 5px;
}
#main-html4 h2 { /* עיצוב כותרת רמה שנייה דף אודות */
    margin: 5px;
    font-size: 18pt;
    text-align: center;
}
#odot { /* עיצוב התוכן של הדף אודות */
    width: 80%;
    margin: 0 auto;
    text-align: right;
}
#odot p {
    text-align: center;
}
/* עיצוב דיב ראשי של דף צור קשר */
#contect {
    height: auto;

}
#contect h1 {
    font-size: 22px;
    padding: 10px;
}
/* עיצוב טופס צור קשר */
#form {
    padding: 10px;
    width: 80%;
    text-align: right;
    margin: 0 auto;
}
#form label {
    display: block;
    padding: 10px;
}
/* עיצובי מפת אתר והאנימציה בזמן הובר */
#sitemap {
    padding: 15px;
    color: black;
}
#sitemap a {
    display: inline;
    color: rgba(19, 19, 19, 0.69);
}
#sitemap a:hover {
    color: rgba(19, 19, 19, 0.69);
    color: #a1a1a1;
}
#sitemap2 {
    padding: 15px;
    text-align: right;
}
#sitemap2 ul {
    margin-right: 30px;
}
#sitemap2 a {
    display: block;
}
#sitemap2 a:hover {
    color: rgba(19, 19, 19, 0.69);
}
#sitemap2 h1 {
    font-size: 24pt;
}
#sitemap2 h2 {
    padding: 10px;
    text-align: right;
}
#freepic { /* עיצוב טקסט רשיון אייקונים */
    padding: 10px;
    font-size: 10pt;
}
#footer { /* עיצוב פוטר */
    margin-top:30px;
    height: 120px;
    width: 960px;
    background-color:rgba(255, 255, 255, 0.8);
}
